.detail-sale{position:absolute;left:40%;top:20%;width:50%}
.sale-action{position:absolute;left:5%;top:20%;width:36%;border:none;color:white}
.action-btn{margin-bottom: 5%}
 .product tr td{padding:20px;}
 body{font-family: arial;}
 .inputbox:focus{border:1px solid green;outline: none;}
 	.inputbox{
 		padding-left:10px;
 		font-size: 36px;
 		color:black;
 		border:1px solid grey;
 		width:340px;
 		padding:10px;
 	}
 	.inputbox:hover{
 		
 	}
 	.quantity input{
 		width:60px;
 		font-size: 20px;
 		background:black;
 		color:white;
 		border:1px solid white;
 		padding:20px;
 		color:green;
 	}
 	.quantity input:hover{
 		
 	}
 
 	.link{
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease;
    color:white;
}
 	.link.con{background:green;}
 	.link.can{background:red}
 
 .link:hover{
 		opacity: 0.5;
 	}
 	